django==2.2.24
ipdb==0.8
uwsgi==2.0.10
beautifulsoup4==4.3.2
requests==2.20.0
celery==3.1.17
django-celery==3.1.16
redis==2.10.3
mock==1.0.1
django-nose==1.4
django-cassandra-engine==0.3.3
coverage==4.0a5
scrapy==2.6.2
billiard==3.3.0.20
service_identity==14.0.0
gensim==0.11.1-1
stop-words==2014.5.26
nltk==3.4.5
pattern==2.6
nodeenv==0.11.1