<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNews</title>
    <link rel="stylesheet" type="text/css" href="/static/jqcloud.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/tagcloud.jquery.min.js"></script>

<style>
       * {
            resize: none;
            border: none;
            outline: none;
            text-decoration: none;
            padding: 0px;
            margin: 0px;
            list-style-type: none;
        }
</style>


<script type="text/javascript">
    var settings = {
    //height of sphere container
    height: 400,
    //width of sphere container
    width: 400,
    //radius of sphere
    radius: 150,
    //rotation speed
    speed: 0.5,
    //sphere rotations slower
    slower: 0.0,
    //delay between update position
    timer: 5,
    //dependence of a font size on axis Z
    fontMultiplier: 15,
    //tag css stylies on mouse over
    hoverStyle: {
        border: 'none',
        color: '#0b2e6f'
    },
    //tag css stylies on mouse out
    mouseOutStyle: {
        border: '',
        color: ''
    }
    };
    $(document).ready(function(){
        $('#tagcloud').tagoSphere(settings);
    });
</script>
</head>
<body>
    <div id="tagcloud">
        <ul>
             {% for topic in topics %}
                 <li><a href="/topic/{{topic.pk}}">{{ topic.tags|join:" " }}</a></li>
             {% endfor %}
        </ul>
    </div>
</body>
</html>